html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

  line-height: 1;
  /* background-color: rgb(241, 241, 241); */
  font-family: 'Oxygen',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}




.wrapper{
  min-width: px;
  margin: 0 auto;
}

.visinahedera {
  height: 30px;
  background-color: #282828;
}

.visinahedera2 {
  background-color: #1F1F1F;

}


li.separator {
    display: inline-block;
    position: relative;
    top: 0px;
    width: 2px;
    height: 10px;
    background: #999;
    padding: 0px;
    margin: 0 6px;
}

.social a {
  color: #999
}

.social a:hover {
    color: #999;
}

.social ul li {
    display: inline; 
    color: #2F343D;
}


.social2 a {
  color: white;
}

.social2 a:hover {
    color: #999;
}

.social2 ul li {
  text-align: center;
  display: inline; 
  color: #2F343D;
}


.kontakt ul li {
  text-decoration: none;
  display: inline-block;
}

.kontakt a {
  color: #999;
}

.kontakt a:hover {
  text-decoration: none;
}

.kontakt li {
  font-size: 15px;
}

@media 

.btncustom {
  background-color: #325583;
  color: white;
  border-color: #325583;
  width: 100px;
  border-radius: 0;
}
.btncustom:hover {
  background-color: #3d679c;
  border-color: #3d679c;
}

.navbar-dark {
  background-color:  #1F1F1F;
}

.separator2 {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 1px;
    height: 200px;
    background: #999;
    padding: 0px;
    margin: 0 6px;
}


.carousel-inner{
    width:100%;
    height: 100%;
    margin-bottom: 10px;
  }

.dropdown-toggle {
    background-color: rgb(50, 85, 131); 
    width: 130px;
}

.dropdown-toggle a {
  text-align: center;
}


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.telefoni li {
    display: inline;

}

.nav-item p {
    font-size: 20px;
}

.inside_padding {
 
}

.card {
  border: #dad8d8 1px solid;
  box-sizing: border-box;
  padding: 10px;
}

.card:hover{
  background: #fff;
  box-shadow: 4px 4px 8px 0px rgba(46,61,73,0.15);
  transform: translate(0px, -1px);
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.6);
   
}

.card p {
  font-size: 12px;
}

.rating-wrap {
  color: rgb(241, 185, 16);
}

.tel {
  font-size: 50px;
}


/* slika zoom-in */
.zoomin:hover {
  transition: transform 1s ease;
  transform: scale(1.05);
  opacity: 0.7;
}

.zoomin {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.tt:hover .zoomin {
  opacity: 0.3;
  transition: transform 0.5s ease;
  transform: scale(1.05);
  opacity: 0.7;
}

.tt:hover .middle {
  opacity: 1;
}

.text {
  background-color: #325583;
  border-color: #325583;
  color: white;
  font-size: 16px;
  padding: 14px 22px;
}


.row.no-gutters {
  margin-right: 10px;
  margin-left: 10px;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
    .telefoni p {
      font-size: 14px;
    }
  }


@media only screen and (max-width: 375px) {
    .telefoni p {
      font-size: 10px;
    }
  }

@media only screen and (max-width: 425px) {
    .header {
      display: none;
    }
    .card {
      border-style: none;
      border-bottom: 1px solid ;
    }
  }

@media only screen and (min-width: 1024px) {
  .tel {
    font-size: 20px;
  }
  .nestani {
    display: none;
  }
  }

  @media (max-width: 1024px) {
    .container {
        min-width: 100%;
    }
}

@media (min-width: 2560px) {
  .carousel-item {
  margin-left: 10%;
  }
}

.usteda {
  border-radius: 4px;
  text-align: center;
  background-color: #DC3545;
  font-size: 16px;
  color: #fff;
  line-height: 42px;
  padding: 0;
  width: 55px;
  height: 40px;
}

.footercall h1 {
  color: white;
}

.footercall p {
  font-size: 15px;
  color: white;
}

.placanje {
  text-align: center;
}

.placanje ul li {
  display: inline;
  text-align: center;
}

.placanje img {
  margin-bottom: 10px ;
  width: 50px;
  height: 30px;
}

.placanje p {
  font-size: 12px;
  text-align: center;
}

.footerlista a {
  color: white;
}

.footerlista a:hover {
  text-decoration: none;
}



